@using ToolDepot.Helpers
@model ToolDepot.Models.Products.BrochureModel

@{
    ViewBag.Title = "Manage";
}
<script>
    $(function () {
        $("#sortable").sortable();
        $("#sortable").disableSelection();
    });
</script>
<h2 class="pull-left">Manage</h2>
<div class="pull-right">
    @Html.ActionLink("Upload Images", "Index", "UploadFiles")
</div>
'<div class="clearfix"></div>
@Html.ActionLink("Back to Home", "Index", "Home", null, new { Area = "Admin" })


<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>IsActive</th>
        <th>Image</th>
        <th>Action</th>
    </tr>
    @foreach (var item in Model.Brochures)
    {
        <tr>
            <td>@item.Ordinal</td>
            <td>@item.ProductName</td>
            <td>@item.ProductDescription</td>
            <td>@item.IsActive</td>
            <td>@item.ProductImage</td>
            <td>
                <a href="#productModal-@item.Id" data-toggle="modal">Edit
                </a>
                <div class="hide modal fade" id="productModal-@item.Id">
                    @Html.Partial("EditBrochure",item)
                </div>
            </td>
            @Html.HiddenFor(x => item.Id)
        </tr>
    }
</table>

