@using ToolDepot.Core.Domain.Products
@model ToolDepot.Models.Products.ProductModel

@{
    ViewBag.Title = Model.Product.Name + " | " + Model.Product.Category.CategoryName;
}
<link rel="stylesheet" href="/Content/css/jRating.jquery.css" />
<div class="margin-bottom-10">
    @Html.ActionLink("Back to " + Model.Product.Category.CategoryName, "Category", new { id = Model.Product.CategoryId })
</div>
<div class="span10 no-margin">
    <section class="margin-bottom">
        <div class="span2">
            <img src="/Content/images/Products/@Model.Product.Image" class="img-rounded pull-left" alt="@Model.Product.Name"/>
        </div>
        <div class="span8">
            <h1>@Html.DisplayFor(model => model.Product.Name)</h1>
            <div>
                <div id="rating" class="pull-left margin-right-10"></div>
                <div class="pull-left review-count">@Model.TotalReviews Reviews | <a href="#ReviewModal" data-toggle="modal" role="button" class="btn btn-link">Write a Review</a></div>
                <div class="clearfix"></div>
            </div>

        </div>
        <div class="clearfix"></div>
    </section>
    <p class="margin-bottom">
        @Html.DisplayFor(model => model.Product.Description)
    </p>

    <ul class="nav nav-tabs margin-top" id="descriptionTags">
        @if (Model.Product.ProductSpecs.Any())
        {
            <li>
                <a href="#specs">Specifications
                </a>
            </li>
        }
        @if (Model.Product.ProductFeatures.Any())
        {
            <li>
                <a href="#features">Features
                </a>
            </li>
        }
    </ul>
    <div class="tab-content margin-bottom" id="tabContent">
        @if (Model.Product.ProductSpecs.Any())
        {
            <div class="tab-pane" id="specs">
                <table class="table table-striped">
                    @foreach (var item in Model.Product.ProductSpecs)
                    {
                        <tr>
                            <td>
                                @item.SpecType
                            </td>
                            <td>
                                @item.SpecName
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
        @if (Model.Product.ProductFeatures.Any())
        {
            <div class="tab-pane" id="features">
                <ul>
                    @foreach (var item in Model.Product.ProductFeatures)
                    {
                        <li>
                            @item.Feature
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
    <div>
        <div style="border-bottom: 1px solid #ccc; padding-bottom: 5px">
            <a href="#ReviewModal" data-toggle="modal" role="button" class="btn btn-primary">Write a Review</a>
        </div>
        @if (Model.Product.ProductReviews.Any())
        {
            
            <h3>Customer Reviews</h3>
            <p><strong>Overall Rating:</strong> <span id="staticRating"></span><small>@Model.OverallRating/5</small></p>
            <p>
                @Model.OverallRecommend out of @Model.TotalReviews (@Model.RecommendPercentage) reviewers recommend this product. 
            </p>
            
            foreach (var review in Model.Product.ProductReviews)
            {
                if (review.IsApproved == EnumApproveReview.Approved.ToString())
                {
            <div style="border-top: 2px solid #ccc; padding: 10px">
                <div class="margin-bottom">
                    <div class="span3">
                        <div class="individual-rating pull-left margin-right-5" data-rating="@review.Rating"></div>
                        <div class="pull-left">@review.Rating/5</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="span7">@review.ReviewTitle</div>
                    <div class="span2 align-right">@review.CreatedDate.ToString("MMMM dd,yyyy")</div>
                    <div class="clearfix"></div>
                </div>
                <div>
                    @review.UserName from @review.Location
                </div>
                <div class="margin-top">
                    @review.Review
                </div>
                <div class="margin-top">
                    @if (review.Recommend)
                    {
                        <div>
                            <img src="/Content/images/recommended.png" alt="Recommended" />
                        </div>
                    }
                </div>
            </div>
                }
            }
        }
    </div>
    @Html.Action("Review", Model.Product.Id)

</div>
<div class="span2 related-products">
    <div class="related-title">
        <h4 class="no-margin">Customers also viewed...</h4>
    </div>
    <div>
        @foreach (var item in @Model.Product.Category.Products.SkipWhile(x => x.Id == Model.Product.Id).Take(4))
        {
            if (item.Id != Model.Product.Id)
            {
            <div class="margin-10 padding-10">

                <div class="margin-bottom-5">
                    <a href="/Products/Product/@item.Id">
                        <img alt="@item.Name" src="/Content/images/Products/@item.Image" class="h100" />
                    </a>
                </div>
                <div>
                    <a href="/Products/Product/@item.Id">
                        @item.Name
                    </a>
                </div>
            </div>
            }
        }
    </div>
</div>
<script src="/Scripts/jRating.jquery.js"></script>
<script>
    $(function () {
        $('#descriptionTags a').click(function (e) {
            e.preventDefault();

            $(this).tab('show');
        });
        $("#descriptionTags li:first").addClass('active');
        $("#tabContent .tab-pane:first").addClass('active');

        $('#rating').raty({
            readOnly: true,
            half: true,
            score: "@Model.OverallRating",
            size: 24,
        });
        $('#staticRating').raty({
            readOnly: true,
            half: true,
            score: "@Model.OverallRating",
            size: 24,
        });

        var rating = $('.individual-rating').attr('data-rating');
        $('.individual-rating').each(function () {
            $(this).raty(
                {
                    readOnly: true,
                    half: true,
                    score: $(this).attr('data-rating'),
                    size: 24,
                });
        });

    });
</script>
