@model ToolDepot.Models.Products.ProductReviewModel
<div class="modal hide fade" id="ReviewModal" data-backdrop="static" style="width: 860px; left: 40%">

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Review @Model.Product.Name</h3>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="control-group">
                    @Html.LabelFor(model => model.UserName, new { Class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(model => model.UserName)
                        @Html.ValidationMessageFor(model => model.UserName)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.EmailAddress, new { Class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(model => model.EmailAddress, new { type = "email" })
                        @Html.ValidationMessageFor(model => model.EmailAddress)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.Location, new { Class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(model => model.Location)
                        @Html.ValidationMessageFor(model => model.Location)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.Rating, new { Class = "control-label" })
                    <div class="controls">
                        <div id="productRating" class="pull-left margin-right-10"></div>
                        <div id="hint" class="pull-left"></div>
                        <div class="clearfix"></div>
                        @Html.ValidationMessageFor(model => model.Rating)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.ReviewTitle, new { Class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(model => model.ReviewTitle)
                        @Html.ValidationMessageFor(model => model.ReviewTitle)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.Review, new { Class = "control-label" })
                    <div class="controls">
                        @Html.TextAreaFor(model => model.Review, new { Class = "contactbox" })
                        @Html.ValidationMessageFor(model => model.Review)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.Recommend, new { Class = "control-label" })
                    <div class="controls">
                        <label class="checkbox">
                            @Html.CheckBoxFor(model => model.Recommend) Yes
                        @Html.ValidationMessageFor(model => model.Recommend)
                        </label>
                    </div>
                </div>
                @Html.HiddenFor(x => x.ProductId)
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    }
</div>

<script>
    $(function () {
        $('#productRating').raty({
            size: 24,
            half: true,
            scoreName: "Rating",
            target: '#hint',
            targetFormat: '{score}',
            targetText: '',
            targetKeep: true
        });
    });
</script>
